<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.jiupin.jiupinhui">

    <uses-sdk tools:overrideLibrary="com.chaychan.viewlib"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="stateUnspecified|adjustPan">

        </activity>
        <activity android:name=".activity.BaseActivity">
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name=".activity.GoodsActivity">
        </activity>
        <activity android:name=".activity.CommentActivity">
        </activity>
        <activity android:name=".activity.MemberClubActivity">
        </activity>
        <activity android:name=".activity.BuyCartActivity">
        </activity>
        <activity android:name=".activity.OrderActivity">
        </activity>
        <activity android:name=".activity.PaySuccessActivity">
        </activity>
        <activity android:name=".activity.FormParticularActivity">
        </activity>
        <activity android:name=".activity.MyFormActivity">
        </activity>
        <activity
            android:name=".activity.SendCommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.FamiliarQuestionActivity">
        </activity>
        <activity android:name=".activity.QuestionActivity">
        </activity>
        <activity android:name=".activity.ServerActivity">
        </activity>
        <activity android:name=".activity.SubmitQuestionActivity">
        </activity>
        <activity
            android:name=".activity.ChatActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".activity.PersonInfoActivity">
        </activity>
        <activity android:name=".activity.ReviseNicknameActivity">
        </activity>
        <activity android:name=".activity.BindingPhoneActivity">
        </activity>
        <activity android:name=".activity.IdeaBackActivity">
        </activity>
        <activity android:name=".activity.ManageAddressActivity">
        </activity>
        <activity android:name=".activity.CompileAddressActivity">
        </activity>
        <activity android:name=".activity.VersionActivity">
        </activity>
        /***********微信pay**********************/
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        /***********支付宝pay**********************/
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity android:name=".activity.TestActivity">
        </activity>
        <activity android:name=".activity.PackageActivity">
        </activity>
        <activity android:name=".activity.ArticleActivity">
        </activity>
        <activity android:name=".activity.BeforeChatActivity">
        </activity>
        <activity android:name=".activity.ConditionActivity">
        </activity>

    </application>

</manifest>